<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User List</title>
</head>
<body>
<h1>User List</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Wallets</th>
    <th></th>
  </tr>

  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td></td>
    <td th:text="${user.phone}"></td>
    <td th:text="${user.email}"></td>
    <td></td>
    <td>

      <a th:href="@{wallets/user/{id}(id=${user.id})}">Wallets</a>
      <a th:href="@{/edit/{id}(id=${user.id})}">Edit</a>
      <a th:href="@{/delete/{id}(id=${user.id})}">Delete</a>
    </td>
  </tr>
</table>

<form th:action="@{/new}" method="get">
    <button type="submit">Add User</button>
</form>
</body>
</html>
