<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User List</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- Header global -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" th:href="@{/accueil}">Mon Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/page1}">Page 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/page2}">Page 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/page3}">Page 3</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Header local -->
<div class="container">
  <h1>User List</h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Wallets</th>
      <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td></td>
      <td th:text="${user.phone}"></td>
      <td th:text="${user.email}"></td>
      <td></td>
      <td>
        <a class="btn btn-primary" th:href="@{wallets/user/{id}(id=${user.id})}">Wallets</a>
        <a class="btn btn-secondary" th:href="@{/edit/{id}(id=${user.id})}">Edit</a>
        <a class="btn btn-danger" th:href="@{/delete/{id}(id=${user.id})}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <form th:action="@{/new}" method="get">
    <button type="submit">Add User</button>
  </form>
</div>
<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>
</body>
</html>