<!--Afficher la liste des wallets avec thymelieaf-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wallets</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="container">
<h1>Wallets</h1>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>balance</th>
        <th>Transactions</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wallet : ${wallets}">
        <td th:text="${wallet.id}"></td>
        <td th:text="${wallet.name}"></td>
        <td th:text="${wallet.balance}"></td>
        <td>
            <a class="btn btn-primary" th:href="@{/transactions/{id}(id=${wallet.id})}">Transactions</a>
        </td>
        <td>
            <a class="btn btn-secondary" th:href="@{/editWallet/{WalletId}(WalletId=${wallet.id})}">Edit</a>
            <a class="btn btn-danger" th:href="@{/deleteWallet/{WalletId}(WalletId=${wallet.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<form th:action="@{/newWalletForm/{userId}(userId=${userId})}" method="get">
    <button type="submit">Add New Wallet</button>
</form>
</div>



<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>


</body>
</html>




